on property:vendor.post_boot.parsed=1
 # Setup final cpuset
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/foreground/cpus 0-3
	write /dev/cpuset/background/cpus 0-1
	write /dev/cpuset/system-background/cpus 0-3
	write /dev/cpuset/restricted/cpus 0-3
#This is somehow buggy :(
	write /dev/stune/foreground/schedtune.boost 0

# Set I/O Scheduler
	setprop sys.io.scheduler anxiety
	write /sys/block/mmcblk0/queue/scheduler anxiety
	write /sys/block/mmcblk0/queue/read_ahead_kb 128

	write /sys/block/mmcblk1/queue/scheduler anxiety
	write /sys/block/mmcblk1/queue/read_ahead_kb 512

##VM
	write /proc/sys/vm/vfs_cache_pressure 40
	write /proc/sys/vm/dirty_ratio 10
	write /proc/sys/vm/dirty_background_ratio 80
	write /proc/sys/vm/swappiness 60

#disable zram depending on disksize
	write /sys/devices/virtual/block/zram0/disksize 0
